.Container {
  color: whitesmoke;
  margin-top: -20px;
}
.Column {
  width: auto;
  color: whitesmoke;
  min-height: 50px;
}

.Button {
  margin: 10px 50px;
  padding: 10px;
  background-color: yellowgreen;
  width: 50%;
  min-width: 100px;
  max-width: 300px;
}
