.Container {
  display: block;
  text-align: left;
  padding: 50px 0;
  margin: 10px auto;
}

.Header {
  color: white;
  text-align: center;
}

.Label {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffeb3b;
  padding: 20px 0 10px 0;
}

.Input {
  display: flex;
  margin: auto;
  width: 60%;
  min-width: 200px;
  max-width: 400px;
}

.Button {
  display: flex;
  background-color: yellowgreen;
  margin: 20px auto;
  padding: 8px;
  width: 50%;
  min-width: 150px;
  max-width: 200px;
}

.Text {
  color: rgb(121, 194, 78);
  font-size: 17px;
  -webkit-text-stroke-width: 0.3px;
}
