.Table {
  overflow-x: auto;
}
.Title {
  width: auto;
  color: whitesmoke;
  text-align: left;
}
.Text {
  color: whitesmoke;
  font-size: 70%;
}

.Categories {
  color: yellow;
  text-transform: capitalize;
  padding: 5px 0px;
}

.CategoriesValues {
  text-align: center;
  color: white;
}

.ConclusionText {
  color: white;
  text-align: center;
}
@media (min-width: 600px) {
  .ConclusionText {
    text-align: left;
  }
}
@media (min-width: 769px) {
  .Container {
    padding: 0 0 0 10px;
  }
}

.Sum {
  color: yellowgreen;
}
.SumValue {
  text-align: center;
}
