.Column {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.Hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.Title {
  width: auto;
  color: whitesmoke;
}

.Categories {
  color: #ffeb3b;
  text-transform: capitalize;
  padding: 4px 0;
}

.Values {
  text-align: right;
  color: white;
}

.Sum {
  color: yellowgreen;
}
.Sumvalue {
  text-align: right;
}

.Button {
  margin: 10px 50px;
  padding: 1vh;
  width: 50%;
  min-width: 100px;
  max-width: 300px;
  background-color: yellowgreen;
}
