.Form {
  /* justify-content: center; */
  margin-top: 10px;
  padding: 10px 6px;
  width: auto;
}

.Input {
  display: block;
  width: 70%;
  min-width: 200px;
  max-width: 500px;
}

.Label {
  color: #ffeb3b;
  text-transform: capitalize;
  padding: 4px 0;
}

.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}