.Title {
  width: auto;
  color: whitesmoke;
}

.Categories {
  /* margin: 30px 150px; */
  color: yellow;
  width: 80%;
  padding: 5px 10px;
  /* min-width: 100px; */
  /* max-width: 300px; */
}

.CategoriesValues {
  margin: 10px 50px;
  /* text-align: center; */
  color: white;
}

.Sum {
  color: yellowgreen;
}
.Sumvalue {
  position: relative;
  left: -8px;
}
