.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5ad5c;
  height: 55px;
  overflow-y: hidden;
  border-bottom: 0.1875rem solid #74b30f;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.burger {
  display: none;
}

.navbar_navigation-item a {
  color: white;
  text-decoration: none;
}

.navbar_navigation-item a:hover,
.navbar_navigation-item a:active {
  color: grey;
}

.navbar_navigation-item ul {
  list-style-type: none;
  display: flex;
}

.navbar_navigation-item li {
  padding: 1rem;
}

.spacing {
  flex: auto;
}

@media (min-width: 801px) {
  .sideNav {
    display: none;
  }
}
@media (max-width: 800px) {
  .navbar {
    height: 50px;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f5ad5c; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
  }

  .navbar_navigation {
    flex-direction: row;
    /* align-items: center; */
    /* padding: 0 0.5rem; */
  }

  .navbar_logo {
    /* thelo na pigenei sta deksia */
  }

  .burger {
    color: white;
    background-color: #f5ad5c;
    border: none;
    font-size: 1.5rem;
    /* margin-top: 1px; */
    margin: 5px 5px;
    display: flex;
    order: -1;
    /* flex-direction: column; */
  }

  .navbar_navigation-item ul {
    display: none;
  }

  .sideNav {
    top: -1000px;
    position: fixed;
    height: 100%;
    width: 50%;
    background-color: #74b30f;
    transition: top 0.35s;
  }

  .sideNav li {
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 1.2rem;
  }

  .sideNav a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    /* padding: 1rem; */
    /* list-style-type: none; */
    /* display: flex; */
  }

  .sideNav ul:active,
  .sideNav a :active {
    color: grey;
  }
}
