.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5ad5c;
  height: 55px;
  overflow-y: hidden;
  border-bottom: 0.1875rem solid #74b30f;
  transition: 0.5s;
}

.navbar_dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #178e55;
  height: 55px;
  overflow-y: hidden;
  border-bottom: 0.1875rem solid #577b1e;
  transition: 0.5s;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.burgerIcon {
  display: none;
}

.burgerIcon_dark {
  display: none;
}

.navbar_navigation-items {
  margin-left: auto;
}

.navbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.navbar_navigation-items a:hover,
.navbar_navigation-items a:active {
  color: grey;
}

.navbar_navigation-items ul {
  list-style-type: none;
  display: flex;
}

.navbar_navigation-items li {
  padding: 1rem;
}

@media (max-width: 800px) {
  .navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f5ad5c;
    overflow-x: hidden;
  }

  .navbar_dark {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #178e55;
    overflow-x: hidden;
  }

  .burgerIcon {
    color: white;
    background-color: #f5ad5c;
    border: none;
    font-size: 1.5rem;
    margin: 5px 5px;
    display: flex;
    outline-width: 0;
    order: -1;
    transition: 0.5s;
  }

  .burgerIcon_dark {
    color: white;
    background-color: #178e55;
    border: none;
    font-size: 1.5rem;
    margin: 5px 5px;
    display: flex;
    outline-width: 0;
    order: -1;
    transition: 0.5s;
  }

  .navbar_navigation-items ul {
    display: none;
  }

  @media (max-width: 280px) {
    .navbar_logo {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 280px) {
  .navbar_logo {
    font-size: 1.2rem;
  }
}
