.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5ad5c;
  height: 55px;
  overflow-y: hidden;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.burger {
  display: none;
}

.navbar_navigation-item a {
  color: white;
  text-decoration: none;
}

.navbar_navigation-item a:hover,
.navbar_navigation-item a:active {
  color: grey;
}

.navbar_navigation-item ul {
  list-style-type: none;
  display: flex;
}

.navbar_navigation-item li {
  padding: 1rem;
}

.spacing {
  flex: 1;
}

@media (max-width: 600px) {
  .navbar {
    height: 50px; /* 100% Full-height */
    width: 50px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f5ad5c; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: height 0.5s, width 0.5s;
  }

  .navbar_logo {
    display: none;
  }
  .burger {
    color: white;
    background-color: #f5ad5c;
    border: none;
    font-size: 1.5rem;
    margin-top: 7px;
    padding: auto;
    display: flex;
    flex-direction: column;
  }

  .navbar_navigation {
    flex-direction: column;
    /* align-items: center; */
    /* padding: 0 0.5rem; */
  }
  .navbar_navigation-item ul {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
  }

  .spacing {
    flex: 0;
  }
}
